@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #b4b3b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6556cd;
  transition: all linear 0.3s;
}
